@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  input {
    @apply outline-none;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.asd {
  background-position: top left;
}

.asd:hover {
  background-position: bottom left;
}
