h1 span,
h2 span,
h3 span,
h4 span,
h5 span,
h6 span {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

.lexical {
  img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 8px;
    margin-right: 8px;
    display: inline-block;
  }
}
