@import 'tailwindcss' reference;

#DatePicker .react-datepicker .react-datepicker__year-read-view--down-arrow {
  @apply top-1/2 -translate-y-[calc(50%+2px)] rotate-[135deg];
}

#DatePicker .react-datepicker__navigation.react-datepicker__navigation--previous {
  @apply top-[20px] left-[30px];
}

#DatePicker .react-datepicker__navigation.react-datepicker__navigation--next {
  @apply top-[20px] right-[30px] left-[inherit];
}

#DatePicker .react-datepicker__header {
  @apply flex flex-col gap-2;
}

#DatePicker .react-datepicker__year-dropdown.react-datepicker__year-dropdown--scrollable {
  @apply top-[38px];
}

#DatePicker .react-datepicker__current-month.react-datepicker__current-month--hasYearDropdown {
  @apply capitalize;
  color: var(--color-dark-blue);
}
